$size1: 200px;
$size2: 300px;

.catalog {
  display: grid;
  grid-template-columns: repeat(4, $size1);
  justify-content: center;
  gap: 48px;

  @media (max-width: 1023px) {
    & {
      grid-template-columns: repeat(3, $size1);
    }
  }

  @media (max-width: 767px) {
    & {
      grid-template-columns: repeat(2, $size1);
    }
  }

  @media (max-width: 487px) {
    & {
      grid-template-columns: repeat(1, $size1);
    }
  }

  &__card {
    display: grid;
    place-items: center;
    height: $size2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
